@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
.color-primary {
  color: #91d1dc; }
.color-secondary {
  color: #008DD5; }
.color-white {
  color: white; }
.color-black {
  color: black; }
.color-light-grey {
  color: #f3f3f3; }
.color-dark {
  color: #0c2a3b; }
.color-dark-grey {
  color: #181818; }

.bg-primary {
  background-color: #91d1dc; }
.bg-secondary {
  background-color: #91d1dc; }
.bg-white {
  background-color: white; }
.bg-black {
  background-color: black; }
.bg-light-grey {
  background-color: #f3f3f3; }
.bg-dark {
  background-color: #0c2a3b; }
.bg-dark-grey {
  background-color: #181818; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

a img {
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, .text-img-section, .news-section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, .text-img-section, .news-section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.p-1 {
  padding: 5px; }
.p-2 {
  padding: 10px; }
.p-3 {
  padding: 15px; }
.p-4 {
  padding: 20px; }
.p-5 {
  padding: 25px; }
.p-10 {
  padding: 50px; }
.p-v-1 {
  padding: 5px 0; }
.p-v-2 {
  padding: 10px 0; }
.p-v-3 {
  padding: 15px 0; }
.p-v-4 {
  padding: 20px 0; }
.p-v-5 {
  padding: 25px 0; }
.p-v-10 {
  padding: 50px 0; }
.p-h-1 {
  padding: 0 5px; }
.p-h-2 {
  padding: 0 10px; }
.p-h-3 {
  padding: 0 15px; }
.p-h-4 {
  padding: 0 20px; }
.p-h-5 {
  padding: 0 25px; }
.p-h-10 {
  padding: 0 50px; }

.m-1 {
  margin: 5px; }
.m-2 {
  margin: 10px; }
.m-3 {
  margin: 15px; }
.m-4 {
  margin: 20px; }
.m-5 {
  margin: 25px; }
.m-10 {
  margin: 50px; }
.m-l-1 {
  margin-left: 5px 0; }
.m-l-2 {
  margin-left: 10px; }
.m-l-3 {
  margin-left: 15px; }
.m-l-4 {
  margin-left: 20px; }
.m-l-5 {
  margin-left: 25px; }
.m-l-10 {
  margin-left: 50px; }
.m-r-1 {
  margin-right: 5px 0; }
.m-r-2 {
  margin-right: 10px; }
.m-r-3 {
  margin-right: 15px; }
.m-r-4 {
  margin-right: 20px; }
.m-r-5 {
  margin-right: 25px; }
.m-r-10 {
  margin-right: 50px; }
.m-t-1 {
  margin-top: 5px 0; }
.m-t-2 {
  margin-top: 10px; }
.m-t-3 {
  margin-top: 15px; }
.m-t-4 {
  margin-top: 20px; }
.m-t-5 {
  margin-top: 25px; }
.m-t-10 {
  margin-top: 50px; }
.m-b-1 {
  margin-bottom: 5px 0; }
.m-b-2 {
  margin-bottom: 10px; }
.m-b-3 {
  margin-bottom: 15px; }
.m-b-4 {
  margin-bottom: 20px; }
.m-b-5 {
  margin-bottom: 25px; }
.m-b-10 {
  margin-bottom: 50px; }
.m-v-1 {
  margin: 5px 0; }
.m-v-2 {
  margin: 10px 0; }
.m-v-3 {
  margin: 15px 0; }
.m-v-4 {
  margin: 20px 0; }
.m-v-5 {
  margin: 25px 0; }
.m-v-10 {
  margin: 50px 0; }
.m-h-1 {
  margin: 0 5px; }
.m-h-2 {
  margin: 0 10px; }
.m-h-3 {
  margin: 0 15px; }
.m-h-4 {
  margin: 0 20px; }
.m-h-5 {
  margin: 0 25px; }
.m-h-10 {
  margin: 0 50px; }

.t-1 {
  font-size: 1rem; }
.t-2 {
  font-size: 2rem; }
.t-3 {
  font-size: 3rem; }
.t-4 {
  font-size: 4rem; }
.t-5 {
  font-size: 5rem; }
.t-big {
  font-size: 1.2rem; }
.t-small {
  font-size: 0.8rem; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.row::after {
  content: "";
  display: block;
  clear: both; }

.col, .col-2, .col-3, .col-4, .col-6, .col-8, .col-12 {
  width: 100%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }
  .col-2 {
    flex-basis: 16.66%; }
  .col-3 {
    flex-basis: 25%; }
  .col-4 {
    flex-basis: 33.33%; }
  .col-6 {
    flex-basis: 50%; }
  .col-8 {
    flex-basis: 66.66%; }
  .col-12 {
    flex-basis: 100%; }

.d-none {
  display: none; }
.d-inline {
  display: inline; }
.d-inline-block {
  display: inline-block; }
.d-block {
  display: block; }
.d-table-cell {
  display: table-cell; }
.d-table-row {
  display: table-row; }
.d-flex {
  display: flex; }
.d-inline-flex {
  display: inline-flex; }

.f-left {
  float: left; }
.f-right {
  float: right; }

.a-center {
  height: 100%;
  align-items: center; }

.order-1 {
  order: 1; }
.order-2 {
  order: 2; }
.order-3 {
  order: 3; }
.order-4 {
  order: 4; }
.order-5 {
  order: 5; }

@media (max-width: 960px) {
  .col-md, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box; }
    .col-md-2 {
      flex-basis: 16.66%; }
    .col-md-3 {
      flex-basis: 25%; }
    .col-md-4 {
      flex-basis: 33.33%; }
    .col-md-6 {
      flex-basis: 50%; }
    .col-md-8 {
      flex-basis: 66.66%; }
    .col-md-12 {
      flex-basis: 100%; }

  .d-md-none {
    display: none; }
  .d-md-inline {
    display: inline; }
  .d-md-inline-block {
    display: inline-block; }
  .d-md-block {
    display: block; }
  .d-md-table-cell {
    display: table-cell; }
  .d-md-table-row {
    display: table-row; }
  .d-md-flex {
    display: flex; }
  .d-md-inline-flex {
    display: inline-flex; }

  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; } }
@media (max-width: 768px) {
  .col-sm, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box; }
    .col-sm-2 {
      flex-basis: 16.66%; }
    .col-sm-3 {
      flex-basis: 25%; }
    .col-sm-4 {
      flex-basis: 33.33%; }
    .col-sm-6 {
      flex-basis: 50%; }
    .col-sm-8 {
      flex-basis: 66.66%; }
    .col-sm-12 {
      flex-basis: 100%; }

  .d-sm-none {
    display: none; }
  .d-sm-inline {
    display: inline; }
  .d-sm-inline-block {
    display: inline-block; }
  .d-sm-block {
    display: block; }
  .d-sm-table-cell {
    display: table-cell; }
  .d-sm-table-row {
    display: table-row; }
  .d-sm-flex {
    display: flex; }
  .d-sm-inline-flex {
    display: inline-flex; }

  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; } }
h1 {
  font-weight: bold; }

h2 {
  font-size: 1.5rem;
  font-weight: bold; }

h3 {
  font-size: 1.2rem;
  font-weight: bold; }

p {
  font-size: 1rem;
  line-height: 1.5rem; }

.t-300 {
  font-size: 3rem; }
.t-250 {
  font-size: 2.5rem; }
.t-200 {
  font-size: 2rem; }
.t-160 {
  font-size: 1.6rem; }
.t-120 {
  font-size: 1.2rem; }
.t-100 {
  font-size: 1rem; }
.t-80 {
  font-size: 0.8rem; }
.t-60 {
  font-size: 0.6rem; }
.t-40 {
  font-size: 0.4rem; }

@media (max-width: 960px) {
  .t-md-300 {
    font-size: 3rem; }
  .t-md-250 {
    font-size: 2.5rem; }
  .t-md-200 {
    font-size: 2rem; }
  .t-md-160 {
    font-size: 1.6rem; }
  .t-md-120 {
    font-size: 1.2rem; }
  .t-md-100 {
    font-size: 1rem; }
  .t-md-80 {
    font-size: 0.8rem; }
  .t-md-60 {
    font-size: 0.6rem; }
  .t-md-40 {
    font-size: 0.4rem; } }
@media (max-width: 768px) {
  .t-sm-300 {
    font-size: 3rem; }
  .t-sm-250 {
    font-size: 2.5rem; }
  .t-sm-200 {
    font-size: 2rem; }
  .t-sm-160 {
    font-size: 1.6rem; }
  .t-sm-120 {
    font-size: 1.2rem; }
  .t-sm-100 {
    font-size: 1rem; }
  .t-sm-80 {
    font-size: 0.8rem; }
  .t-sm-60 {
    font-size: 0.6rem; }
  .t-sm-40 {
    font-size: 0.4rem; } }
body {
  font: 100% "Poppins", Arial, Helvetica, sans-serif;
  color: #0c2a3b;
  font-size: 16px; }

header .navbar {
  width: 100%;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s; }
  header .navbar .container {
    align-items: center;
    justify-content: space-between; }
  header .navbar .logo {
    height: 30px;
    width: auto; }
  header .navbar nav {
    display: flex;
    align-items: center; }
    header .navbar nav .nav-item {
      list-style-type: none;
      display: inline; }
    header .navbar nav .nav-link {
      font-weight: 600;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
      padding: 5px 10px;
      margin-left: 20px;
      color: white;
      cursor: pointer; }
      header .navbar nav .nav-link:hover {
        color: #91d1dc; }
  header .navbar-sticky {
    padding: 14px 0;
    background-color: #0c2a3b;
    color: #181818; }
  header .navbar .mobile-navigation, header .navbar .mobile-navigation-active {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0c2a3b;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; }
    header .navbar .mobile-navigation li, header .navbar .mobile-navigation-active li {
      display: block;
      padding: 10px; }
    header .navbar .mobile-navigation .mobile-navbar-link, header .navbar .mobile-navigation-active .mobile-navbar-link {
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
      padding: 5px 10px;
      color: white;
      cursor: pointer; }
      header .navbar .mobile-navigation .mobile-navbar-link:hover, header .navbar .mobile-navigation-active .mobile-navbar-link:hover {
        color: #91d1dc; }
    header .navbar .mobile-navigation-active {
      left: 0; }
header .hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  background-attachment: fixed; }
  header .hero .container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center; }
    header .hero .container a {
      display: inline-block; }
    header .hero .container p {
      max-width: 800px; }

.btn, .btn-small, .btn-big, .btn-primary, .btn-secondary, .btn-secondary-light {
  padding: 14px 30px;
  display: inline-block;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.3rem;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s; }
  .btn-small {
    padding: 10px 20px;
    font-size: 0.8rem;
    letter-spacing: 0.15rem; }
  .btn-big {
    padding: 22px 40px;
    font-size: 1.1rem;
    letter-spacing: 0.15rem; }
  .btn-primary {
    background-color: #91d1dc;
    border: solid 2px #91d1dc;
    color: #0c2a3b; }
    .btn-primary:hover {
      background-color: #a2e8f4;
      border-color: #a2e8f4; }
  .btn-secondary {
    border: solid 2px #0c2a3b;
    color: #0c2a3b; }
    .btn-secondary:hover {
      border-color: #91d1dc;
      color: #91d1dc; }
  .btn-secondary-light {
    border: solid 2px #f3f3f3;
    color: #f3f3f3; }
    .btn-secondary-light:hover {
      border-color: #91d1dc;
      color: #91d1dc; }

section, .text-img-section, .news-section {
  padding: 60px 0; }
  section .row:not(:last-of-type), .text-img-section .row:not(:last-of-type), .news-section .row:not(:last-of-type) {
    margin-bottom: 40px; }
  section .img-container, .text-img-section .img-container, .news-section .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; }
    section .img-container img, .text-img-section .img-container img, .news-section .img-container img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px; }

.text-img-section .img-container {
  max-height: 350px; }
.text-img-section .text-content h3 {
  margin-bottom: 20px; }
.text-img-section .text-content p {
  line-height: 1.5;
  margin-bottom: 10px; }

.news-section .text-content h3 {
  margin: 15px 0;
  font-size: 1.2rem; }
.news-section .news {
  margin-bottom: 40px; }
  .news-section .news a {
    margin-top: 15px; }

footer {
  width: 100%;
  padding: 16px 0;
  background-color: white;
  color: #181818;
  font-size: 0.9rem; }
  footer .container {
    align-items: center;
    justify-content: space-between; }
  footer li {
    display: inline;
    padding: 0 10px; }
  footer a:hover {
    color: #91d1dc;
    text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
