@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
.color-primary {
  color: #91d1dc; }
.color-secondary {
  color: #008DD5; }
.color-white {
  color: white; }
.color-black {
  color: black; }
.color-light-grey {
  color: #f3f3f3; }
.color-dark {
  color: #0c2a3b; }
.color-dark-grey {
  color: #181818; }

.bg-primary {
  background-color: #91d1dc; }
.bg-secondary {
  background-color: #008DD5; }
.bg-white {
  background-color: white; }
.bg-black {
  background-color: black; }
.bg-light-grey {
  background-color: #f3f3f3; }
.bg-dark {
  background-color: #0c2a3b; }
.bg-dark-grey {
  background-color: #181818; }

* {
  box-sizing: border-box; }

a img {
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, .text-img-section, .news-section, .contact-section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, .text-img-section, .news-section, .contact-section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.p-1 {
  padding: 5px; }

.p-r-1 {
  padding-right: 5px; }

.p-l-1 {
  padding-left: 5px; }

.p-t-1 {
  padding-top: 5px; }

.p-b-1 {
  padding-bottom: 5px; }

.p-v-1 {
  padding: 5px 0; }

.p-h-1 {
  padding: 0 5px; }

.m-1 {
  margin: 5px; }

.m-r-1 {
  margin-right: 5px; }

.m-l-1 {
  margin-left: 5px; }

.m-t-1 {
  margin-top: 5px; }

.m-b-1 {
  margin-bottom: 5px; }

.m-v-1 {
  margin: 5px 0; }

.m-h-1 {
  margin: 0 5px; }

.p-2 {
  padding: 10px; }

.p-r-2 {
  padding-right: 10px; }

.p-l-2 {
  padding-left: 10px; }

.p-t-2 {
  padding-top: 10px; }

.p-b-2 {
  padding-bottom: 10px; }

.p-v-2 {
  padding: 10px 0; }

.p-h-2 {
  padding: 0 10px; }

.m-2 {
  margin: 10px; }

.m-r-2 {
  margin-right: 10px; }

.m-l-2 {
  margin-left: 10px; }

.m-t-2 {
  margin-top: 10px; }

.m-b-2 {
  margin-bottom: 10px; }

.m-v-2 {
  margin: 10px 0; }

.m-h-2 {
  margin: 0 10px; }

.p-3 {
  padding: 15px; }

.p-r-3 {
  padding-right: 15px; }

.p-l-3 {
  padding-left: 15px; }

.p-t-3 {
  padding-top: 15px; }

.p-b-3 {
  padding-bottom: 15px; }

.p-v-3 {
  padding: 15px 0; }

.p-h-3 {
  padding: 0 15px; }

.m-3 {
  margin: 15px; }

.m-r-3 {
  margin-right: 15px; }

.m-l-3 {
  margin-left: 15px; }

.m-t-3 {
  margin-top: 15px; }

.m-b-3 {
  margin-bottom: 15px; }

.m-v-3 {
  margin: 15px 0; }

.m-h-3 {
  margin: 0 15px; }

.p-4 {
  padding: 20px; }

.p-r-4 {
  padding-right: 20px; }

.p-l-4 {
  padding-left: 20px; }

.p-t-4 {
  padding-top: 20px; }

.p-b-4 {
  padding-bottom: 20px; }

.p-v-4 {
  padding: 20px 0; }

.p-h-4 {
  padding: 0 20px; }

.m-4 {
  margin: 20px; }

.m-r-4 {
  margin-right: 20px; }

.m-l-4 {
  margin-left: 20px; }

.m-t-4 {
  margin-top: 20px; }

.m-b-4 {
  margin-bottom: 20px; }

.m-v-4 {
  margin: 20px 0; }

.m-h-4 {
  margin: 0 20px; }

.p-5 {
  padding: 25px; }

.p-r-5 {
  padding-right: 25px; }

.p-l-5 {
  padding-left: 25px; }

.p-t-5 {
  padding-top: 25px; }

.p-b-5 {
  padding-bottom: 25px; }

.p-v-5 {
  padding: 25px 0; }

.p-h-5 {
  padding: 0 25px; }

.m-5 {
  margin: 25px; }

.m-r-5 {
  margin-right: 25px; }

.m-l-5 {
  margin-left: 25px; }

.m-t-5 {
  margin-top: 25px; }

.m-b-5 {
  margin-bottom: 25px; }

.m-v-5 {
  margin: 25px 0; }

.m-h-5 {
  margin: 0 25px; }

.p-6 {
  padding: 30px; }

.p-r-6 {
  padding-right: 30px; }

.p-l-6 {
  padding-left: 30px; }

.p-t-6 {
  padding-top: 30px; }

.p-b-6 {
  padding-bottom: 30px; }

.p-v-6 {
  padding: 30px 0; }

.p-h-6 {
  padding: 0 30px; }

.m-6 {
  margin: 30px; }

.m-r-6 {
  margin-right: 30px; }

.m-l-6 {
  margin-left: 30px; }

.m-t-6 {
  margin-top: 30px; }

.m-b-6 {
  margin-bottom: 30px; }

.m-v-6 {
  margin: 30px 0; }

.m-h-6 {
  margin: 0 30px; }

.p-7 {
  padding: 35px; }

.p-r-7 {
  padding-right: 35px; }

.p-l-7 {
  padding-left: 35px; }

.p-t-7 {
  padding-top: 35px; }

.p-b-7 {
  padding-bottom: 35px; }

.p-v-7 {
  padding: 35px 0; }

.p-h-7 {
  padding: 0 35px; }

.m-7 {
  margin: 35px; }

.m-r-7 {
  margin-right: 35px; }

.m-l-7 {
  margin-left: 35px; }

.m-t-7 {
  margin-top: 35px; }

.m-b-7 {
  margin-bottom: 35px; }

.m-v-7 {
  margin: 35px 0; }

.m-h-7 {
  margin: 0 35px; }

.p-8 {
  padding: 40px; }

.p-r-8 {
  padding-right: 40px; }

.p-l-8 {
  padding-left: 40px; }

.p-t-8 {
  padding-top: 40px; }

.p-b-8 {
  padding-bottom: 40px; }

.p-v-8 {
  padding: 40px 0; }

.p-h-8 {
  padding: 0 40px; }

.m-8 {
  margin: 40px; }

.m-r-8 {
  margin-right: 40px; }

.m-l-8 {
  margin-left: 40px; }

.m-t-8 {
  margin-top: 40px; }

.m-b-8 {
  margin-bottom: 40px; }

.m-v-8 {
  margin: 40px 0; }

.m-h-8 {
  margin: 0 40px; }

.p-9 {
  padding: 45px; }

.p-r-9 {
  padding-right: 45px; }

.p-l-9 {
  padding-left: 45px; }

.p-t-9 {
  padding-top: 45px; }

.p-b-9 {
  padding-bottom: 45px; }

.p-v-9 {
  padding: 45px 0; }

.p-h-9 {
  padding: 0 45px; }

.m-9 {
  margin: 45px; }

.m-r-9 {
  margin-right: 45px; }

.m-l-9 {
  margin-left: 45px; }

.m-t-9 {
  margin-top: 45px; }

.m-b-9 {
  margin-bottom: 45px; }

.m-v-9 {
  margin: 45px 0; }

.m-h-9 {
  margin: 0 45px; }

.p-10 {
  padding: 50px; }

.p-r-10 {
  padding-right: 50px; }

.p-l-10 {
  padding-left: 50px; }

.p-t-10 {
  padding-top: 50px; }

.p-b-10 {
  padding-bottom: 50px; }

.p-v-10 {
  padding: 50px 0; }

.p-h-10 {
  padding: 0 50px; }

.m-10 {
  margin: 50px; }

.m-r-10 {
  margin-right: 50px; }

.m-l-10 {
  margin-left: 50px; }

.m-t-10 {
  margin-top: 50px; }

.m-b-10 {
  margin-bottom: 50px; }

.m-v-10 {
  margin: 50px 0; }

.m-h-10 {
  margin: 0 50px; }

@media (max-width: 768px) {
  .p-small-1 {
    padding: 5px; }

  .p-small-r-1 {
    padding-right: 5px; }

  .p-small-l-1 {
    padding-left: 5px; }

  .p-small-t-1 {
    padding-top: 5px; }

  .p-small-b-1 {
    padding-bottom: 5px; }

  .p-small-v-1 {
    padding: 5px 0; }

  .p-small-h-1 {
    padding: 0 5px; }

  .m-small-1 {
    margin: 5px; }

  .m-small-r-1 {
    margin-right: 5px; }

  .m-small-l-1 {
    margin-left: 5px; }

  .m-small-t-1 {
    margin-top: 5px; }

  .m-small-b-1 {
    margin-bottom: 5px; }

  .m-small-v-1 {
    margin: 5px 0; }

  .m-small-h-1 {
    margin: 0 5px; }

  .p-small-2 {
    padding: 10px; }

  .p-small-r-2 {
    padding-right: 10px; }

  .p-small-l-2 {
    padding-left: 10px; }

  .p-small-t-2 {
    padding-top: 10px; }

  .p-small-b-2 {
    padding-bottom: 10px; }

  .p-small-v-2 {
    padding: 10px 0; }

  .p-small-h-2 {
    padding: 0 10px; }

  .m-small-2 {
    margin: 10px; }

  .m-small-r-2 {
    margin-right: 10px; }

  .m-small-l-2 {
    margin-left: 10px; }

  .m-small-t-2 {
    margin-top: 10px; }

  .m-small-b-2 {
    margin-bottom: 10px; }

  .m-small-v-2 {
    margin: 10px 0; }

  .m-small-h-2 {
    margin: 0 10px; }

  .p-small-3 {
    padding: 15px; }

  .p-small-r-3 {
    padding-right: 15px; }

  .p-small-l-3 {
    padding-left: 15px; }

  .p-small-t-3 {
    padding-top: 15px; }

  .p-small-b-3 {
    padding-bottom: 15px; }

  .p-small-v-3 {
    padding: 15px 0; }

  .p-small-h-3 {
    padding: 0 15px; }

  .m-small-3 {
    margin: 15px; }

  .m-small-r-3 {
    margin-right: 15px; }

  .m-small-l-3 {
    margin-left: 15px; }

  .m-small-t-3 {
    margin-top: 15px; }

  .m-small-b-3 {
    margin-bottom: 15px; }

  .m-small-v-3 {
    margin: 15px 0; }

  .m-small-h-3 {
    margin: 0 15px; }

  .p-small-4 {
    padding: 20px; }

  .p-small-r-4 {
    padding-right: 20px; }

  .p-small-l-4 {
    padding-left: 20px; }

  .p-small-t-4 {
    padding-top: 20px; }

  .p-small-b-4 {
    padding-bottom: 20px; }

  .p-small-v-4 {
    padding: 20px 0; }

  .p-small-h-4 {
    padding: 0 20px; }

  .m-small-4 {
    margin: 20px; }

  .m-small-r-4 {
    margin-right: 20px; }

  .m-small-l-4 {
    margin-left: 20px; }

  .m-small-t-4 {
    margin-top: 20px; }

  .m-small-b-4 {
    margin-bottom: 20px; }

  .m-small-v-4 {
    margin: 20px 0; }

  .m-small-h-4 {
    margin: 0 20px; }

  .p-small-5 {
    padding: 25px; }

  .p-small-r-5 {
    padding-right: 25px; }

  .p-small-l-5 {
    padding-left: 25px; }

  .p-small-t-5 {
    padding-top: 25px; }

  .p-small-b-5 {
    padding-bottom: 25px; }

  .p-small-v-5 {
    padding: 25px 0; }

  .p-small-h-5 {
    padding: 0 25px; }

  .m-small-5 {
    margin: 25px; }

  .m-small-r-5 {
    margin-right: 25px; }

  .m-small-l-5 {
    margin-left: 25px; }

  .m-small-t-5 {
    margin-top: 25px; }

  .m-small-b-5 {
    margin-bottom: 25px; }

  .m-small-v-5 {
    margin: 25px 0; }

  .m-small-h-5 {
    margin: 0 25px; }

  .p-small-6 {
    padding: 30px; }

  .p-small-r-6 {
    padding-right: 30px; }

  .p-small-l-6 {
    padding-left: 30px; }

  .p-small-t-6 {
    padding-top: 30px; }

  .p-small-b-6 {
    padding-bottom: 30px; }

  .p-small-v-6 {
    padding: 30px 0; }

  .p-small-h-6 {
    padding: 0 30px; }

  .m-small-6 {
    margin: 30px; }

  .m-small-r-6 {
    margin-right: 30px; }

  .m-small-l-6 {
    margin-left: 30px; }

  .m-small-t-6 {
    margin-top: 30px; }

  .m-small-b-6 {
    margin-bottom: 30px; }

  .m-small-v-6 {
    margin: 30px 0; }

  .m-small-h-6 {
    margin: 0 30px; }

  .p-small-7 {
    padding: 35px; }

  .p-small-r-7 {
    padding-right: 35px; }

  .p-small-l-7 {
    padding-left: 35px; }

  .p-small-t-7 {
    padding-top: 35px; }

  .p-small-b-7 {
    padding-bottom: 35px; }

  .p-small-v-7 {
    padding: 35px 0; }

  .p-small-h-7 {
    padding: 0 35px; }

  .m-small-7 {
    margin: 35px; }

  .m-small-r-7 {
    margin-right: 35px; }

  .m-small-l-7 {
    margin-left: 35px; }

  .m-small-t-7 {
    margin-top: 35px; }

  .m-small-b-7 {
    margin-bottom: 35px; }

  .m-small-v-7 {
    margin: 35px 0; }

  .m-small-h-7 {
    margin: 0 35px; }

  .p-small-8 {
    padding: 40px; }

  .p-small-r-8 {
    padding-right: 40px; }

  .p-small-l-8 {
    padding-left: 40px; }

  .p-small-t-8 {
    padding-top: 40px; }

  .p-small-b-8 {
    padding-bottom: 40px; }

  .p-small-v-8 {
    padding: 40px 0; }

  .p-small-h-8 {
    padding: 0 40px; }

  .m-small-8 {
    margin: 40px; }

  .m-small-r-8 {
    margin-right: 40px; }

  .m-small-l-8 {
    margin-left: 40px; }

  .m-small-t-8 {
    margin-top: 40px; }

  .m-small-b-8 {
    margin-bottom: 40px; }

  .m-small-v-8 {
    margin: 40px 0; }

  .m-small-h-8 {
    margin: 0 40px; }

  .p-small-9 {
    padding: 45px; }

  .p-small-r-9 {
    padding-right: 45px; }

  .p-small-l-9 {
    padding-left: 45px; }

  .p-small-t-9 {
    padding-top: 45px; }

  .p-small-b-9 {
    padding-bottom: 45px; }

  .p-small-v-9 {
    padding: 45px 0; }

  .p-small-h-9 {
    padding: 0 45px; }

  .m-small-9 {
    margin: 45px; }

  .m-small-r-9 {
    margin-right: 45px; }

  .m-small-l-9 {
    margin-left: 45px; }

  .m-small-t-9 {
    margin-top: 45px; }

  .m-small-b-9 {
    margin-bottom: 45px; }

  .m-small-v-9 {
    margin: 45px 0; }

  .m-small-h-9 {
    margin: 0 45px; }

  .p-small-10 {
    padding: 50px; }

  .p-small-r-10 {
    padding-right: 50px; }

  .p-small-l-10 {
    padding-left: 50px; }

  .p-small-t-10 {
    padding-top: 50px; }

  .p-small-b-10 {
    padding-bottom: 50px; }

  .p-small-v-10 {
    padding: 50px 0; }

  .p-small-h-10 {
    padding: 0 50px; }

  .m-small-10 {
    margin: 50px; }

  .m-small-r-10 {
    margin-right: 50px; }

  .m-small-l-10 {
    margin-left: 50px; }

  .m-small-t-10 {
    margin-top: 50px; }

  .m-small-b-10 {
    margin-bottom: 50px; }

  .m-small-v-10 {
    margin: 50px 0; }

  .m-small-h-10 {
    margin: 0 50px; } }
@media (max-width: 960px) {
  .p-medium-1 {
    padding: 5px; }

  .p-medium-r-1 {
    padding-right: 5px; }

  .p-medium-l-1 {
    padding-left: 5px; }

  .p-medium-t-1 {
    padding-top: 5px; }

  .p-medium-b-1 {
    padding-bottom: 5px; }

  .p-medium-v-1 {
    padding: 5px 0; }

  .p-medium-h-1 {
    padding: 0 5px; }

  .m-medium-1 {
    margin: 5px; }

  .m-medium-r-1 {
    margin-right: 5px; }

  .m-medium-l-1 {
    margin-left: 5px; }

  .m-medium-t-1 {
    margin-top: 5px; }

  .m-medium-b-1 {
    margin-bottom: 5px; }

  .m-medium-v-1 {
    margin: 5px 0; }

  .m-medium-h-1 {
    margin: 0 5px; }

  .p-medium-2 {
    padding: 10px; }

  .p-medium-r-2 {
    padding-right: 10px; }

  .p-medium-l-2 {
    padding-left: 10px; }

  .p-medium-t-2 {
    padding-top: 10px; }

  .p-medium-b-2 {
    padding-bottom: 10px; }

  .p-medium-v-2 {
    padding: 10px 0; }

  .p-medium-h-2 {
    padding: 0 10px; }

  .m-medium-2 {
    margin: 10px; }

  .m-medium-r-2 {
    margin-right: 10px; }

  .m-medium-l-2 {
    margin-left: 10px; }

  .m-medium-t-2 {
    margin-top: 10px; }

  .m-medium-b-2 {
    margin-bottom: 10px; }

  .m-medium-v-2 {
    margin: 10px 0; }

  .m-medium-h-2 {
    margin: 0 10px; }

  .p-medium-3 {
    padding: 15px; }

  .p-medium-r-3 {
    padding-right: 15px; }

  .p-medium-l-3 {
    padding-left: 15px; }

  .p-medium-t-3 {
    padding-top: 15px; }

  .p-medium-b-3 {
    padding-bottom: 15px; }

  .p-medium-v-3 {
    padding: 15px 0; }

  .p-medium-h-3 {
    padding: 0 15px; }

  .m-medium-3 {
    margin: 15px; }

  .m-medium-r-3 {
    margin-right: 15px; }

  .m-medium-l-3 {
    margin-left: 15px; }

  .m-medium-t-3 {
    margin-top: 15px; }

  .m-medium-b-3 {
    margin-bottom: 15px; }

  .m-medium-v-3 {
    margin: 15px 0; }

  .m-medium-h-3 {
    margin: 0 15px; }

  .p-medium-4 {
    padding: 20px; }

  .p-medium-r-4 {
    padding-right: 20px; }

  .p-medium-l-4 {
    padding-left: 20px; }

  .p-medium-t-4 {
    padding-top: 20px; }

  .p-medium-b-4 {
    padding-bottom: 20px; }

  .p-medium-v-4 {
    padding: 20px 0; }

  .p-medium-h-4 {
    padding: 0 20px; }

  .m-medium-4 {
    margin: 20px; }

  .m-medium-r-4 {
    margin-right: 20px; }

  .m-medium-l-4 {
    margin-left: 20px; }

  .m-medium-t-4 {
    margin-top: 20px; }

  .m-medium-b-4 {
    margin-bottom: 20px; }

  .m-medium-v-4 {
    margin: 20px 0; }

  .m-medium-h-4 {
    margin: 0 20px; }

  .p-medium-5 {
    padding: 25px; }

  .p-medium-r-5 {
    padding-right: 25px; }

  .p-medium-l-5 {
    padding-left: 25px; }

  .p-medium-t-5 {
    padding-top: 25px; }

  .p-medium-b-5 {
    padding-bottom: 25px; }

  .p-medium-v-5 {
    padding: 25px 0; }

  .p-medium-h-5 {
    padding: 0 25px; }

  .m-medium-5 {
    margin: 25px; }

  .m-medium-r-5 {
    margin-right: 25px; }

  .m-medium-l-5 {
    margin-left: 25px; }

  .m-medium-t-5 {
    margin-top: 25px; }

  .m-medium-b-5 {
    margin-bottom: 25px; }

  .m-medium-v-5 {
    margin: 25px 0; }

  .m-medium-h-5 {
    margin: 0 25px; }

  .p-medium-6 {
    padding: 30px; }

  .p-medium-r-6 {
    padding-right: 30px; }

  .p-medium-l-6 {
    padding-left: 30px; }

  .p-medium-t-6 {
    padding-top: 30px; }

  .p-medium-b-6 {
    padding-bottom: 30px; }

  .p-medium-v-6 {
    padding: 30px 0; }

  .p-medium-h-6 {
    padding: 0 30px; }

  .m-medium-6 {
    margin: 30px; }

  .m-medium-r-6 {
    margin-right: 30px; }

  .m-medium-l-6 {
    margin-left: 30px; }

  .m-medium-t-6 {
    margin-top: 30px; }

  .m-medium-b-6 {
    margin-bottom: 30px; }

  .m-medium-v-6 {
    margin: 30px 0; }

  .m-medium-h-6 {
    margin: 0 30px; }

  .p-medium-7 {
    padding: 35px; }

  .p-medium-r-7 {
    padding-right: 35px; }

  .p-medium-l-7 {
    padding-left: 35px; }

  .p-medium-t-7 {
    padding-top: 35px; }

  .p-medium-b-7 {
    padding-bottom: 35px; }

  .p-medium-v-7 {
    padding: 35px 0; }

  .p-medium-h-7 {
    padding: 0 35px; }

  .m-medium-7 {
    margin: 35px; }

  .m-medium-r-7 {
    margin-right: 35px; }

  .m-medium-l-7 {
    margin-left: 35px; }

  .m-medium-t-7 {
    margin-top: 35px; }

  .m-medium-b-7 {
    margin-bottom: 35px; }

  .m-medium-v-7 {
    margin: 35px 0; }

  .m-medium-h-7 {
    margin: 0 35px; }

  .p-medium-8 {
    padding: 40px; }

  .p-medium-r-8 {
    padding-right: 40px; }

  .p-medium-l-8 {
    padding-left: 40px; }

  .p-medium-t-8 {
    padding-top: 40px; }

  .p-medium-b-8 {
    padding-bottom: 40px; }

  .p-medium-v-8 {
    padding: 40px 0; }

  .p-medium-h-8 {
    padding: 0 40px; }

  .m-medium-8 {
    margin: 40px; }

  .m-medium-r-8 {
    margin-right: 40px; }

  .m-medium-l-8 {
    margin-left: 40px; }

  .m-medium-t-8 {
    margin-top: 40px; }

  .m-medium-b-8 {
    margin-bottom: 40px; }

  .m-medium-v-8 {
    margin: 40px 0; }

  .m-medium-h-8 {
    margin: 0 40px; }

  .p-medium-9 {
    padding: 45px; }

  .p-medium-r-9 {
    padding-right: 45px; }

  .p-medium-l-9 {
    padding-left: 45px; }

  .p-medium-t-9 {
    padding-top: 45px; }

  .p-medium-b-9 {
    padding-bottom: 45px; }

  .p-medium-v-9 {
    padding: 45px 0; }

  .p-medium-h-9 {
    padding: 0 45px; }

  .m-medium-9 {
    margin: 45px; }

  .m-medium-r-9 {
    margin-right: 45px; }

  .m-medium-l-9 {
    margin-left: 45px; }

  .m-medium-t-9 {
    margin-top: 45px; }

  .m-medium-b-9 {
    margin-bottom: 45px; }

  .m-medium-v-9 {
    margin: 45px 0; }

  .m-medium-h-9 {
    margin: 0 45px; }

  .p-medium-10 {
    padding: 50px; }

  .p-medium-r-10 {
    padding-right: 50px; }

  .p-medium-l-10 {
    padding-left: 50px; }

  .p-medium-t-10 {
    padding-top: 50px; }

  .p-medium-b-10 {
    padding-bottom: 50px; }

  .p-medium-v-10 {
    padding: 50px 0; }

  .p-medium-h-10 {
    padding: 0 50px; }

  .m-medium-10 {
    margin: 50px; }

  .m-medium-r-10 {
    margin-right: 50px; }

  .m-medium-l-10 {
    margin-left: 50px; }

  .m-medium-t-10 {
    margin-top: 50px; }

  .m-medium-b-10 {
    margin-bottom: 50px; }

  .m-medium-v-10 {
    margin: 50px 0; }

  .m-medium-h-10 {
    margin: 0 50px; } }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px; }
  .row:not(:last-of-type) {
    padding-bottom: 30px; }

.row::after {
  content: "";
  display: block;
  clear: both; }

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }
  .col-1 {
    flex-basis: 8.3333333333%; }
  .col-2 {
    flex-basis: 16.6666666667%; }
  .col-3 {
    flex-basis: 25%; }
  .col-4 {
    flex-basis: 33.3333333333%; }
  .col-5 {
    flex-basis: 41.6666666667%; }
  .col-6 {
    flex-basis: 50%; }
  .col-7 {
    flex-basis: 58.3333333333%; }
  .col-8 {
    flex-basis: 66.6666666667%; }
  .col-9 {
    flex-basis: 75%; }
  .col-10 {
    flex-basis: 83.3333333333%; }
  .col-11 {
    flex-basis: 91.6666666667%; }
  .col-12 {
    flex-basis: 100%; }

.display-none {
  display: none; }

.display-inline {
  display: inline; }

.display-inline-block {
  display: inline-block; }

.display-block {
  display: block; }

.display-table-cell {
  display: table-cell; }

.display-table-row {
  display: table-row; }

.display-flex {
  display: flex; }

.display-inline-flex {
  display: inline-flex; }

.float-left {
  float: left; }
.float-right {
  float: right; }

.align-items-center {
  height: 100%;
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.justify-content-start {
  justify-content: start; }

.justify-content-end {
  justify-content: end; }

.justify-content-flex-start {
  justify-content: flex-start; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-content-left {
  justify-content: left; }

.justify-content-right {
  justify-content: right; }

.offset-1 {
  margin-left: 8.3333333333%; }

.offset-2 {
  margin-left: 16.6666666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.3333333333%; }

.offset-5 {
  margin-left: 41.6666666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.3333333333%; }

.offset-8 {
  margin-left: 66.6666666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.3333333333%; }

.offset-11 {
  margin-left: 91.6666666667%; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

@media (max-width: 960px) {
  .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box; }
    .col-md-1 {
      flex-basis: 8.3333333333%; }
    .col-md-2 {
      flex-basis: 16.6666666667%; }
    .col-md-3 {
      flex-basis: 25%; }
    .col-md-4 {
      flex-basis: 33.3333333333%; }
    .col-md-5 {
      flex-basis: 41.6666666667%; }
    .col-md-6 {
      flex-basis: 50%; }
    .col-md-7 {
      flex-basis: 58.3333333333%; }
    .col-md-8 {
      flex-basis: 66.6666666667%; }
    .col-md-9 {
      flex-basis: 75%; }
    .col-md-10 {
      flex-basis: 83.3333333333%; }
    .col-md-11 {
      flex-basis: 91.6666666667%; }
    .col-md-12 {
      flex-basis: 100%; }

  .offset-md-1 {
    margin-left: 8.3333333333%; }

  .offset-md-2 {
    margin-left: 16.6666666667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .offset-md-5 {
    margin-left: 41.6666666667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .offset-md-11 {
    margin-left: 91.6666666667%; }

  .display-md-none {
    display: none; }

  .display-md-inline {
    display: inline; }

  .display-md-inline-block {
    display: inline-block; }

  .display-md-block {
    display: block; }

  .display-md-table-cell {
    display: table-cell; }

  .display-md-table-row {
    display: table-row; }

  .display-md-flex {
    display: flex; }

  .display-md-inline-flex {
    display: inline-flex; }

  .order-md-1 {
    order: 1; }

  .order-md-2 {
    order: 2; }

  .order-md-3 {
    order: 3; }

  .order-md-4 {
    order: 4; }

  .order-md-5 {
    order: 5; }

  .order-md-6 {
    order: 6; }

  .order-md-7 {
    order: 7; }

  .order-md-8 {
    order: 8; }

  .order-md-9 {
    order: 9; }

  .order-md-10 {
    order: 10; }

  .order-md-11 {
    order: 11; }

  .order-md-12 {
    order: 12; } }
@media (max-width: 768px) {
  .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box; }
    .col-sm-1 {
      flex-basis: 8.3333333333%; }
    .col-sm-2 {
      flex-basis: 16.6666666667%; }
    .col-sm-3 {
      flex-basis: 25%; }
    .col-sm-4 {
      flex-basis: 33.3333333333%; }
    .col-sm-5 {
      flex-basis: 41.6666666667%; }
    .col-sm-6 {
      flex-basis: 50%; }
    .col-sm-7 {
      flex-basis: 58.3333333333%; }
    .col-sm-8 {
      flex-basis: 66.6666666667%; }
    .col-sm-9 {
      flex-basis: 75%; }
    .col-sm-10 {
      flex-basis: 83.3333333333%; }
    .col-sm-11 {
      flex-basis: 91.6666666667%; }
    .col-sm-12 {
      flex-basis: 100%; }

  .offset-sm-1 {
    margin-left: 8.3333333333%; }

  .offset-sm-2 {
    margin-left: 16.6666666667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; }

  .display-sm-none {
    display: none; }

  .display-sm-inline {
    display: inline; }

  .display-sm-inline-block {
    display: inline-block; }

  .display-sm-block {
    display: block; }

  .display-sm-table-cell {
    display: table-cell; }

  .display-sm-table-row {
    display: table-row; }

  .display-sm-flex {
    display: flex; }

  .display-sm-inline-flex {
    display: inline-flex; }

  .order-sm-1 {
    order: 1; }

  .order-sm-2 {
    order: 2; }

  .order-sm-3 {
    order: 3; }

  .order-sm-4 {
    order: 4; }

  .order-sm-5 {
    order: 5; }

  .order-sm-6 {
    order: 6; }

  .order-sm-7 {
    order: 7; }

  .order-sm-8 {
    order: 8; }

  .order-sm-9 {
    order: 9; }

  .order-sm-10 {
    order: 10; }

  .order-sm-11 {
    order: 11; }

  .order-sm-12 {
    order: 12; } }
h1 {
  font-size: 2rem;
  font-weight: bold; }

h2 {
  font-size: 1.5rem;
  font-weight: bold; }

h3 {
  font-size: 1.2rem;
  font-weight: bold; }

p {
  font-size: 1rem;
  line-height: 1.5rem; }

.t-60 {
  font-size: 0.6rem; }

.t-80 {
  font-size: 0.8rem; }

.t-100 {
  font-size: 1rem; }

.t-120 {
  font-size: 1.2rem; }

.t-140 {
  font-size: 1.4rem; }

.t-160 {
  font-size: 1.6rem; }

.t-180 {
  font-size: 1.8rem; }

.t-200 {
  font-size: 2rem; }

.t-220 {
  font-size: 2.2rem; }

.t-240 {
  font-size: 2.4rem; }

.t-260 {
  font-size: 2.6rem; }

.t-280 {
  font-size: 2.8rem; }

.t-300 {
  font-size: 3rem; }

.t-320 {
  font-size: 3.2rem; }

.t-340 {
  font-size: 3.4rem; }

.t-360 {
  font-size: 3.6rem; }

.t-380 {
  font-size: 3.8rem; }

.t-400 {
  font-size: 4rem; }

@media (max-width: 960px) {
  .t-md-60 {
    font-size: 0.6rem; }

  .t-md-80 {
    font-size: 0.8rem; }

  .t-md-100 {
    font-size: 1rem; }

  .t-md-120 {
    font-size: 1.2rem; }

  .t-md-140 {
    font-size: 1.4rem; }

  .t-md-160 {
    font-size: 1.6rem; }

  .t-md-180 {
    font-size: 1.8rem; }

  .t-md-200 {
    font-size: 2rem; }

  .t-md-220 {
    font-size: 2.2rem; }

  .t-md-240 {
    font-size: 2.4rem; }

  .t-md-260 {
    font-size: 2.6rem; }

  .t-md-280 {
    font-size: 2.8rem; }

  .t-md-300 {
    font-size: 3rem; }

  .t-md-320 {
    font-size: 3.2rem; }

  .t-md-340 {
    font-size: 3.4rem; }

  .t-md-360 {
    font-size: 3.6rem; }

  .t-md-380 {
    font-size: 3.8rem; }

  .t-md-400 {
    font-size: 4rem; } }
@media (max-width: 768px) {
  .t-sm-60 {
    font-size: 0.6rem; }

  .t-sm-80 {
    font-size: 0.8rem; }

  .t-sm-100 {
    font-size: 1rem; }

  .t-sm-120 {
    font-size: 1.2rem; }

  .t-sm-140 {
    font-size: 1.4rem; }

  .t-sm-160 {
    font-size: 1.6rem; }

  .t-sm-180 {
    font-size: 1.8rem; }

  .t-sm-200 {
    font-size: 2rem; }

  .t-sm-220 {
    font-size: 2.2rem; }

  .t-sm-240 {
    font-size: 2.4rem; }

  .t-sm-260 {
    font-size: 2.6rem; }

  .t-sm-280 {
    font-size: 2.8rem; }

  .t-sm-300 {
    font-size: 3rem; }

  .t-sm-320 {
    font-size: 3.2rem; }

  .t-sm-340 {
    font-size: 3.4rem; }

  .t-sm-360 {
    font-size: 3.6rem; }

  .t-sm-380 {
    font-size: 3.8rem; }

  .t-sm-400 {
    font-size: 4rem; } }
html {
  scroll-behavior: smooth; }

body {
  font: normal 1rem "Poppins", Arial, Helvetica, sans-serif;
  color: #0c2a3b;
  font-size: 16px; }

header .navbar {
  width: 100%;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s; }
  header .navbar .container {
    align-items: center;
    justify-content: space-between; }
  header .navbar .logo {
    height: 30px;
    width: auto; }
  header .navbar nav {
    display: flex;
    align-items: center; }
    header .navbar nav .nav-item {
      list-style-type: none;
      display: inline; }
    header .navbar nav .nav-link {
      font-weight: 600;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
      padding: 5px 10px;
      margin-left: 20px;
      color: white;
      cursor: pointer; }
      header .navbar nav .nav-link:hover {
        color: #91d1dc; }
  header .navbar-sticky {
    padding: 14px 0;
    background-color: #0c2a3b;
    color: #181818; }
  header .navbar .mobile-navigation, header .navbar .mobile-navigation-active {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0c2a3b;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; }
    header .navbar .mobile-navigation li, header .navbar .mobile-navigation-active li {
      display: block;
      padding: 10px; }
    header .navbar .mobile-navigation .mobile-navbar-link, header .navbar .mobile-navigation-active .mobile-navbar-link {
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
      padding: 5px 10px;
      color: white;
      cursor: pointer; }
      header .navbar .mobile-navigation .mobile-navbar-link:hover, header .navbar .mobile-navigation-active .mobile-navbar-link:hover {
        color: #91d1dc; }
    header .navbar .mobile-navigation-active {
      left: 0; }
header .hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  background-attachment: fixed; }
  header .hero .container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center; }
    header .hero .container a {
      display: inline-block; }
    header .hero .container p {
      max-width: 800px;
      text-align: center; }

.btn, .btn-small, .btn-big, .btn-primary, .btn-primary-light, .btn-secondary, .btn-secondary-light, .btn-tertiary, .btn-tertiary-light {
  padding: 12px 30px;
  display: inline-block;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15rem;
  border: solid 1px transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s; }
  .btn-small {
    padding: 9.6px 24px;
    font-size: 0.8rem;
    letter-spacing: 0.15rem; }
  .btn-big {
    padding: 14.4px 36px;
    font-size: 1.1rem;
    letter-spacing: 0.15rem; }
  .btn-primary {
    background-color: #91d1dc;
    color: #0c2a3b; }
    .btn-primary:hover {
      background-color: #b8e1e8; }
  .btn-primary-light {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    color: #0c2a3b; }
    .btn-primary-light:hover {
      background-color: white;
      border-color: white; }
  .btn-secondary {
    border-color: #0c2a3b;
    color: #0c2a3b; }
    .btn-secondary:hover {
      border-color: #91d1dc;
      color: #91d1dc; }
  .btn-secondary-light {
    border-color: #f3f3f3;
    color: #f3f3f3; }
    .btn-secondary-light:hover {
      border-color: #91d1dc;
      color: #91d1dc; }
  .btn-tertiary {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: 0.1rem;
    border: none;
    color: #0c2a3b; }
    .btn-tertiary:hover {
      border-color: #91d1dc;
      color: #57b5c5; }
  .btn-tertiary-light {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0;
    letter-spacing: normal;
    border: none;
    color: #f3f3f3; }
    .btn-tertiary-light:hover {
      border-color: #91d1dc;
      color: #91d1dc; }

section, .text-img-section, .news-section, .contact-section {
  padding: 60px 0; }
  section .img-container, .text-img-section .img-container, .news-section .img-container, .contact-section .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; }
    section .img-container img, .text-img-section .img-container img, .news-section .img-container img, .contact-section .img-container img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%; }

.text-img-section .img-container {
  max-height: 350px; }
.text-img-section .text-content h3 {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 2.2rem; }
.text-img-section .text-content p {
  line-height: 1.5;
  margin-bottom: 10px; }

.news-section .text-content h3 {
  margin: 15px 0;
  font-size: 1.2rem; }
.news-section .news {
  margin-bottom: 40px; }
  .news-section .news a {
    margin-top: 15px; }

.section-title {
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  .section-title h2 {
    font-size: 2.5rem;
    margin-bottom: 20px; }
  .section-title p {
    font-size: 1.2rem;
    line-height: 1.8rem; }

.contact-section .btn, .contact-section .btn-small, .contact-section .btn-big, .contact-section .btn-primary, .contact-section .btn-primary-light, .contact-section .btn-secondary, .contact-section .btn-secondary-light, .contact-section .btn-tertiary, .contact-section .btn-tertiary-light {
  letter-spacing: normal; }

footer {
  width: 100%;
  padding: 16px 0;
  background-color: white;
  color: #181818;
  font-size: 0.9rem; }
  footer .container {
    align-items: center;
    justify-content: space-between; }
  footer li {
    display: inline;
    padding: 0 10px; }
  footer a:hover {
    color: #57b5c5;
    text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
