h1, h2, h3, h4 {
    color: $color-secondary;
}

.section-offer {
    .row {
        margin-bottom: $size-unit*6;
        

        .txt-img:nth-child(odd) {
            background-color: $color-light-grey;
        }

        
    }
}

hr {
    border: solid 1px $color-light-grey;
}

.offer-tiles {

    .offer-tile {
        height: 200px;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
        overflow: hidden;
        cursor: pointer;
    
        &:hover {
            background-color: lighten($color-primary, 6%);
            text-decoration: none;

            h2 {
                color: $color-secondary;
            }
            
            .tile-number {
                display: block;
                position: absolute;
                top: -80%;
            }
        }

        .tile-number {
            font-size: 32rem;
            font-weight: 600;
            color: $color-primary;
            display: block;
            position: absolute;
            top: 100%;
            z-index: 1;
        }


        h2 {
            text-transform: uppercase;
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: 800;
            text-align: center;
            color: darken($color-primary, 24%);
            margin: 0;
            z-index: 2;
        }
    }

    @media (max-width: $breakpoint-small) {
        .offer-tile {
            height: 100px;
        }
    }

    .offer-description {
        background-color: $color-light-grey;
        padding: $size-unit*6;
    }
}

.offer-main {
    background-color: $color-light-grey;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

    h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 800;
        color: $color-secondary;
    }

    strong {
        color: $color-dark-grey;
    }

    &-secondary {
        @extend .offer-main;
        background-color: $color-secondary;

        h2 {
            color: $color-light-grey;
        }

        strong {
            color: $color-light-grey;
        }

        p {
            color: $color-grey;
        }
    }
}