.btn {
    padding: 14px 30px;
    display: inline-block;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    @include border-radius(999px);
    @include transition(0.2s);

    &-small {
        @extend .btn;
        padding: 10px 20px;
        font-size: 0.8rem;
        letter-spacing: 0.15rem;
    }

    &-big {
        @extend .btn;
        padding: 22px 40px;
        font-size: 1.1rem;
        letter-spacing: 0.15rem;
    }

    &-primary {
        @extend .btn;
        background-color: $color-primary;
        border: solid 2px $color-primary;
        color: $color-dark;

        &:hover {
            background-color: $color-light-primary;
            border-color: $color-light-primary;
        }
    }

    &-secondary {
        @extend .btn;
        border: solid 2px $color-dark;
        color: $color-dark;

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    &-secondary-light {
        @extend .btn;
        border: solid 2px $color-light-grey;
        color: $color-light-grey;

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }
    }
}