.btn {
    padding:$button-padding-v $button-padding-h;
    display: inline-block;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border: solid $button-border-size transparent;
    @include border-radius($button-border-radius);
    @include transition(0.2s);

    &-small {
        @extend .btn;
        padding: 0.8*$button-padding-v 0.8*$button-padding-h;
        font-size: 0.8rem;
        letter-spacing: 0.15rem;
    }

    &-big {
        @extend .btn;
        padding:1.2*$button-padding-v 1.2*$button-padding-h;
        font-size: 1.1rem;
        letter-spacing: 0.15rem;
    }

    &-primary {
        @extend .btn;
        background-color: $color-primary;
        color: $color-dark;

        &:hover {
            background-color: lighten($color-primary, 10%);;
        }
    }

    &-primary-light {
        @extend .btn;
        background-color: $color-light-grey;
        border-color: $color-light-grey;
        color: $color-dark;

        &:hover {
            background-color: white;
            border-color: white;
        }
    }

    &-secondary {
        @extend .btn;
        border-color: $color-dark;
        color: $color-dark;

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    &-secondary-light {
        @extend .btn;
        border-color: $color-light-grey;
        color: $color-light-grey;

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    &-tertiary {
        @extend .btn;
        @include border-radius(0);
        padding: 0;
        font-weight: normal;
        letter-spacing: 0.1rem;
        border: none;
        color: $color-dark;

        &:hover {
            border-color: $color-primary;
            color: $color-dark-primary;
        }
    }

    &-tertiary-light {
        @extend .btn;
        @include border-radius(0);
        padding: 0;
        letter-spacing: normal;
        border: none;
        color: $color-light-grey;

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }
    }
}