.color {
    &-primary {
        color: $color-primary;
    }
    &-secondary {
        color: $color-secondary;
    }
    &-white {
        color: white;
    }
}

.bg {
    &-primary {
        background-color: $color-primary;
    }
    &-secondary {
        background-color: $color-primary;
    }
}