.container {
    max-width: $page-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row { 
    position: relative;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    width: 100%; 
    float: left;
    padding: 0 15px;
    box-sizing: border-box;

    &-2 { @extend .col; flex-basis: 16.66%; }
    &-3 { @extend .col; flex-basis: 25%; }
    &-4 { @extend .col; flex-basis: 33.33%; }
    &-6 { @extend .col; flex-basis: 50%; }
    &-8 { @extend .col; flex-basis: 66.66%; }
    &-12 {@extend .col; flex-basis: 100% }
}

.d {
    &-none { display: none; }
    &-inline { display: inline; }
    &-inline-block { display: inline-block; }
    &-block { display: block; }
    &-table-cell { display: table-cell; }
    &-table-row { display: table-row; }
    &-flex { display: flex; }
    &-inline-flex { display: inline-flex; }
}

.f {
    &-left { float: left; }   
    &-right { float: right; }   
}

.a {
    &-center {
        height: 100%;
        align-items: center;
    }
}

.order {
    &-1 { order: 1; }
    &-2 { order: 2; }
    &-3 { order: 3; }
    &-4 { order: 4; }
    &-5 { order: 5; }
}

@media (max-width: $breakpoint-medium) {
    .col-md {
        width: 100%; 
        float: left;
        padding: 0 15px;
        box-sizing: border-box;
    
        &-2 { @extend .col-md; flex-basis: 16.66%; }
        &-3 { @extend .col-md; flex-basis: 25%; }
        &-4 { @extend .col-md; flex-basis: 33.33%; }
        &-6 { @extend .col-md; flex-basis: 50%; }
        &-8 { @extend .col-md; flex-basis: 66.66%; }
        &-12 { @extend .col-md; flex-basis: 100% }
    }

    .d-md {
        &-none { display: none; }
        &-inline { display: inline; }
        &-inline-block { display: inline-block; }
        &-block { display: block; }
        &-table-cell { display: table-cell; }
        &-table-row { display: table-row; }
        &-flex { display: flex; }
        &-inline-flex { display: inline-flex; }
    }

    .order-md {
        &-1 { order: 1; }
        &-2 { order: 2; }
        &-3 { order: 3; }
        &-4 { order: 4; }
        &-5 { order: 5; }
    }
}

@media (max-width: $breakpoint-small) {
    .col-sm {
        width: 100%; 
        float: left;
        padding: 0 15px;
        box-sizing: border-box;
    
        &-2 { @extend .col-sm; flex-basis: 16.66%; }
        &-3 { @extend .col-sm; flex-basis: 25%; }
        &-4 { @extend .col-sm; flex-basis: 33.33%; }
        &-6 { @extend .col-sm; flex-basis: 50%; }
        &-8 { @extend .col-sm; flex-basis: 66.66%; }
        &-12 { @extend .col-sm; flex-basis: 100% }
    }

    .d-sm {
        &-none { display: none; }
        &-inline { display: inline; }
        &-inline-block { display: inline-block; }
        &-block { display: block; }
        &-table-cell { display: table-cell; }
        &-table-row { display: table-row; }
        &-flex { display: flex; }
        &-inline-flex { display: inline-flex; }
    }

    .order-sm {
        &-1 { order: 1; }
        &-2 { order: 2; }
        &-3 { order: 3; }
        &-4 { order: 4; }
        &-5 { order: 5; }
    }
}