.container {
    max-width: $page-width;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
}

.row { 
    position: relative;
    width: 100%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    width: 100%; 
    float: left;
    padding: 0 15px;
    box-sizing: border-box;

    &-2 { @extend .col; width: 16.66%; }
    &-3 { @extend .col; width: 25%; }
    &-4 { @extend .col; width: 33.33%; }
    &-6 { @extend .col; width: 50%; }
    &-12 { @extend .col; width: 100% }
}

.d {
    &-none { display: none; }
    &-inline { display: inline; }
    &-inline-block { display: inline-block; }
    &-block { display: block; }
    &-table-cell { display: table-cell; }
    &-table-row { display: table-row; }
    &-flex { display: flex; }
    &-inline-flex { display: inline-flex; }
}

@media (max-width: $breakpoint-medium) {
    .col-md {
        width: 100%; 
        float: left;
        padding: 0 15px;
        box-sizing: border-box;
    
        &-2 { @extend .col-md; width: 16.66%; }
        &-3 { @extend .col-md; width: 25%; }
        &-4 { @extend .col-md; width: 33.33%; }
        &-6 { @extend .col-md; width: 50%; }
        &-12 { @extend .col-md; width: 100% }
    }

    .d-md {
        &-none { display: none; }
        &-inline { display: inline; }
        &-inline-block { display: inline-block; }
        &-block { display: block; }
        &-table-cell { display: table-cell; }
        &-table-row { display: table-row; }
        &-flex { display: flex; }
        &-inline-flex { display: inline-flex; }
    }
}

@media (max-width: $breakpoint-small) {
    .col-sm {
        width: 100%; 
        float: left;
        padding: 0 15px;
        box-sizing: border-box;
    
        &-2 { @extend .col-sm; width: 16.66%; }
        &-3 { @extend .col-sm; width: 25%; }
        &-4 { @extend .col-sm; width: 33.33%; }
        &-6 { @extend .col-sm; width: 50%; }
        &-12 { @extend .col-sm; width: 100% }
    }

    .d-sm {
        &-none { display: none; }
        &-inline { display: inline; }
        &-inline-block { display: inline-block; }
        &-block { display: block; }
        &-table-cell { display: table-cell; }
        &-table-row { display: table-row; }
        &-flex { display: flex; }
        &-inline-flex { display: inline-flex; }
    }
}