.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row { 
    position: relative;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-bottom: $row-gap;

    &:not(:last-of-type) {
        padding-bottom: $row-gap;
    }
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
     
    float: left;
    padding: 0 $column-gap/2;
    box-sizing: border-box;

    @for $i from 1 through $column-count {
        &-#{$i} {
            @extend .col;
            flex-basis: 100%/$column-count * $i;
        }
    }
}

$displays: none, inline, inline-block, block, table-cell, table-row, flex, inline-flex;
@each $display in $displays {
  .display-#{$display} { display: $display; }
}

.float {
    &-left { float: left; }   
    &-right { float: right; }   
}

.align-items {
    &-center {
        height: 100%;
        align-items: center;
    }
}

$justifys: center, start, end, flex-start, flex-end, left, right;
@each $justify in $justifys {
  .justify-content-#{$justify} { justify-content: $justify; }
}

@for $i from 1 through $column-count - 1 {
    .offset-#{$i} {
        margin-left: 100%/$column-count * $i;
    }
}

@for $i from 1 through $column-count {
    .order-#{$i} { order: $i; }
}

@media (max-width: $breakpoint-medium) {
    .col-md {
        width: 100%; 
        float: left;
        padding: 0 15px;
        box-sizing: border-box;

        @for $i from 1 through $column-count {
            &-#{$i} {
                @extend .col-md;
                flex-basis: 100%/$column-count * $i;
            }
        }
    }

    @for $i from 1 through$column-count - 1 {
        .offset-md-#{$i} {
            margin-left: 100%/$column-count * $i;
        }
    }

    @each $display in $displays {
        .display-md-#{$display} { display: $display; }
    }

    @for $i from 1 through $column-count {
        .order-md-#{$i} { order: $i; }
    }
}

@media (max-width: $breakpoint-small) {
    .col-sm {
        width: 100%; 
        float: left;
        padding: 0 15px;
        box-sizing: border-box;

        @for $i from 1 through $column-count {
            &-#{$i} {
                @extend .col-sm;
                flex-basis: 100%/$column-count * $i;
            }
        }
    }

    @for $i from 1 through $column-count - 1 {
        .offset-sm-#{$i} {
            margin-left: 100%/$column-count * $i;
        }
    }

    @each $display in $displays {
        .display-sm-#{$display} { display: $display; }
    }

    @for $i from 1 through $column-count {
        .order-sm-#{$i} { order: $i; }
    }
}