header {

    .navbar {
        width: 100%;
        padding: 30px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;;
        @include transition(0.5s);

        .container {
            align-items: center;
            justify-content: space-between;
        }

        nav {
            display: flex;
            align-items: center;
        }

        li {
            list-style-type: none;
            display: inline;
        }

        .navbar-link {
            font-weight: 600;
            letter-spacing: 0.1rem;
            text-decoration: none;
            text-transform: uppercase;
            padding: 5px 10px;
            margin-left: 20px;
            color: white;
            cursor: pointer;

            &:hover {
                color: $color-primary;
            }
        }

        

        .logo * {
            fill: white;
        }

        &-sticky {
            padding: 18px 0;
            background-color: black;
            color: $color-dark-grey;
        }
    }

    .hero {
        width: 100%;
        min-height: 100vh;
        background-image: url('../img/hero-bg.png');
        background-size: cover;
        background-attachment: fixed;

        .container {
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;

            a {
                display: inline-block;
            }

            p {
                max-width: 800px;
            }
        }
    }

}