$size-unit: 5px;

@for $i from 1 through 10 {
    .p-#{$i} { padding: $size-unit * $i; }
    .p-r-#{$i} { padding-right: $size-unit * $i; }
    .p-l-#{$i} { padding-left: $size-unit * $i; }
    .p-t-#{$i} { padding-top: $size-unit * $i; }
    .p-b-#{$i} { padding-bottom: $size-unit * $i; }
    .p-v-#{$i} { padding: $size-unit * $i 0; }
    .p-h-#{$i} { padding: 0 $size-unit * $i; }
    
    .m-#{$i} { margin: $size-unit * $i; }
    .m-r-#{$i} { margin-right: $size-unit * $i; }
    .m-l-#{$i} { margin-left: $size-unit * $i; }
    .m-t-#{$i} { margin-top: $size-unit * $i; }
    .m-b-#{$i} { margin-bottom: $size-unit * $i; }
    .m-v-#{$i} { margin: $size-unit * $i 0; }
    .m-h-#{$i} { margin: 0 $size-unit * $i; }
}

@media (max-width: $breakpoint-small) {
    @for $i from 1 through 10 {
        .p-small-#{$i} { padding: $size-unit * $i; }
        .p-small-r-#{$i} { padding-right: $size-unit * $i; }
        .p-small-l-#{$i} { padding-left: $size-unit * $i; }
        .p-small-t-#{$i} { padding-top: $size-unit * $i; }
        .p-small-b-#{$i} { padding-bottom: $size-unit * $i; }
        .p-small-v-#{$i} { padding: $size-unit * $i 0; }
        .p-small-h-#{$i} { padding: 0 $size-unit * $i; }
        
        .m-small-#{$i} { margin: $size-unit * $i; }
        .m-small-r-#{$i} { margin-right: $size-unit * $i; }
        .m-small-l-#{$i} { margin-left: $size-unit * $i; }
        .m-small-t-#{$i} { margin-top: $size-unit * $i; }
        .m-small-b-#{$i} { margin-bottom: $size-unit * $i; }
        .m-small-v-#{$i} { margin: $size-unit * $i 0; }
        .m-small-h-#{$i} { margin: 0 $size-unit * $i; }
    }    
}

@media (max-width: $breakpoint-medium) {
    @for $i from 1 through 10 {
        .p-medium-#{$i} { padding: $size-unit * $i; }
        .p-medium-r-#{$i} { padding-right: $size-unit * $i; }
        .p-medium-l-#{$i} { padding-left: $size-unit * $i; }
        .p-medium-t-#{$i} { padding-top: $size-unit * $i; }
        .p-medium-b-#{$i} { padding-bottom: $size-unit * $i; }
        .p-medium-v-#{$i} { padding: $size-unit * $i 0; }
        .p-medium-h-#{$i} { padding: 0 $size-unit * $i; }
        
        .m-medium-#{$i} { margin: $size-unit * $i; }
        .m-medium-r-#{$i} { margin-right: $size-unit * $i; }
        .m-medium-l-#{$i} { margin-left: $size-unit * $i; }
        .m-medium-t-#{$i} { margin-top: $size-unit * $i; }
        .m-medium-b-#{$i} { margin-bottom: $size-unit * $i; }
        .m-medium-v-#{$i} { margin: $size-unit * $i 0; }
        .m-medium-h-#{$i} { margin: 0 $size-unit * $i; }
    }
}