$size-unit: 5px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
$font-stack: 'Poppins', Arial, Helvetica, sans-serif;
$default-font-size: 16px;

$page-width: 1200px;
$breakpoint-small: 768px;
$breakpoint-medium: 960px;
$breakpoint-large: 1200px;

$color-primary: #91d1dc;
$color-light-primary: #a2e8f4;
$color-dark-primary: #74bdca;
$color-secondary: #008DD5;
$color-light-grey: #f3f3f3;
$color-dark-grey: rgb(24, 24, 24);
$color-dark: #0c2a3b;

@import 'colors';
@import 'reset';
@import 'mixins';
@import 'sizing';
@import 'grid';
@import 'text';

body {
  font: 100% $font-stack;
  color: $color-dark;
  font-size: $default-font-size;
}

@import 'header';
@import 'button';
@import 'main';
@import 'footer';