h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

@for $i from 3 through 20 {
    .t-#{$i*2}0 { font-size: $i * 0.2rem}
}

@media (max-width: $breakpoint-medium) {
    @for $i from 3 through 20 {
        .t-md-#{$i*2}0 { font-size: $i * 0.2rem}
    }
}

@media (max-width: $breakpoint-small) {
    @for $i from 3 through 20 {
        .t-sm-#{$i*2}0 { font-size: $i * 0.2rem}
    }
}

