h1 {
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.t {
    &-300 { font-size: 3rem; }
    &-250 { font-size: 2.5rem; }
    &-200 { font-size: 2rem; }
    &-160 { font-size: 1.6rem; }
    &-120 { font-size: 1.2rem; }
    &-100 { font-size: 1rem; }
    &-80 { font-size: 0.8rem; }
    &-60 { font-size: 0.6rem; }
    &-40 { font-size: 0.4rem; }
}

@media (max-width: $breakpoint-medium) {
    .t-md {
        &-300 { font-size: 3rem; }
        &-250 { font-size: 2.5rem; }
        &-200 { font-size: 2rem; }
        &-160 { font-size: 1.6rem; }
        &-120 { font-size: 1.2rem; }
        &-100 { font-size: 1rem; }
        &-80 { font-size: 0.8rem; }
        &-60 { font-size: 0.6rem; }
        &-40 { font-size: 0.4rem; }
    }
}

@media (max-width: $breakpoint-small) {
    .t-sm {
        &-300 { font-size: 3rem; }
        &-250 { font-size: 2.5rem; }
        &-200 { font-size: 2rem; }
        &-160 { font-size: 1.6rem; }
        &-120 { font-size: 1.2rem; }
        &-100 { font-size: 1rem; }
        &-80 { font-size: 0.8rem; }
        &-60 { font-size: 0.6rem; }
        &-40 { font-size: 0.4rem; }
    }
}

