@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

$font-stack: 'Poppins', Arial, Helvetica, sans-serif;
$default-font-size: 16px;

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}