.btn {
    padding: $button-padding-v $button-padding-h;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none !important;
    border: solid $button-border-size transparent;
    @include border-radius($button-border-radius);
    @include transition(0.2s);

    i {
        &:not(:last-child) {
            margin-right: $size-unit;
        }
        vertical-align: middle;
    }

    &-small {
        @extend .btn;
        padding: 0.8*$button-padding-v 0.8*$button-padding-h;
        font-size: 0.9rem;
    }

    &-big {
        @extend .btn;
        padding: 1.2*$button-padding-v 1.2*$button-padding-h;
        font-size: 1.1rem;
    }

    &-primary {
        @extend .btn;
        background-color: $color-primary;
        color: $color-secondary;

        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }

    &-secondary {
        @extend .btn;
        background-color: $color-secondary;
        color: white;

        &:hover {
            background-color: darken($color-secondary, 10%);
        }
    }

    &-light {
        @extend .btn;
        background-color: white;
        color: $color-dark-grey;

        &:hover {
            color: $color-primary;
            background-color: darken(white, 5%);
        }
    }

    &-primary-outlined {
        @extend .btn;
        background: none;
        border-color: $color-primary;
        color: $color-primary;

        &:hover {
            border-color: darken($color-primary, 5%);
            color:darken($color-primary, 5%);
        }
    }

    &-secondary-outlined {
        @extend .btn;
        background: none;
        border-color: $color-secondary;
        color: $color-secondary;

        &:hover {
            border-color: darken($color-secondary, 5%);
            color:darken($color-secondary, 5%);
        }
    }

    &-light-outlined {
        @extend .btn;
        background: none;
        border-color: $color-light-grey;
        color: $color-light-grey;

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    &-link {
        @extend .btn;
        background: none;
        color: $color-primary;
        text-decoration: none;

        &:hover {
            color: darken($color-primary, 5%);
            text-decoration: underline;
        }
    }

    &-link-light {
        @extend .btn;
        background: none;
        color: white;
        text-decoration: none;

        &:hover {
            color: darken(white, 5%);
            text-decoration: underline;
        }
    }
}